@import "./constants.scss";

.products-root {
	padding: 2rem;
	display: grid;
	grid-template-areas: "filter" "sort" "products";
	width: 100%;

	@media (min-width: calc($tablet-size + 3rem)) {
		grid-template-columns: 250px auto;
		grid-template-areas:
			"filter sort"
			"filter products";
	}
}

.sort-form {
	grid-area: sort;
}
.filter-form {
	grid-area: filter;
}
.products {
	container-type: inline-size;
}
.product-list {
	container-type: inline-size;
	grid-area: products;
	padding: 1rem;
	gap: 1rem;
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
}

@container (min-width: 600px) {
	.product-list {
		grid-template-columns: repeat(2, 1fr);
	}
}
@container (min-width: 900px) {
	.product-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@container (min-width: 600px) {
	.product-container-item.list {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}
}
