.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;

	font-size: 5rem;
	svg {
		color: rgb(111, 86, 222);
		animation: spinner 0.5s infinite linear;
	}
}

@keyframes spinner {
	0% {
		rotate: 0;
	}
	50% {
		rotate: 180deg;
	}
	100% {
		rotate: 360deg;
	}
}
