.image-viewer {
	// max-width: 400px;
	width: 100%;
}

.active-image {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 0.5em;
}
.images-container {
	display: flex;
	// justify-content: space-between;
	flex-wrap: wrap;
	gap: 1rem;
	&-item {
		cursor: pointer;
		width: 100px;
		aspect-ratio: 1/1;
		object-fit: cover;
		border-radius: 0.5em;
	}
}
