.image-viewer {
	// max-width: 400px;
	width: 100%;
}

.active-image {
	width: 300px;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 0.5em;
}
.images-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	&-item {
		cursor: pointer;
		width: 100px;
		aspect-ratio: 1/1;
		object-fit: cover;
		border-radius: 0.5em;
	}
}
